<html>
<head>
<style type="text/CSS">
*{
	font-family: serif;	
}
label{
    width: 100px;
    display: inline-block;
    margin-right: 10%;
    float: left;    
}
#form {
    border-radius: 30px;
    color: black;
    border-spacing:40px;
    width: 380px; 
    font-size:20px;
    padding: 10px;
} 
body{
  background-image: linear-gradient(to left,plum,Tomato,Salmon,Tomato,plum);
}
input{
	padding: 4px;
}
</style>
</head>
<body>
<center><h2>Add Patient</h2>
<div id="form">
	<form action="admin_add_patient_data" method="POST">{% csrf_token %}
		<label>UserName</label>
		<input type="text" name="name" id="nm" onkeyup="namevalid()" placeholder="Enter your name" required><span id="err" style="font-family:TimesNewRoman"></span><br><br>
		<label>Password</label>
		<input type="password" name="pass" id="ps" onkeyup="passvalid()" placeholder="Enter your password" required><span id="err1" style="font-family:TimesNewRoman"></span><br><br>
		<label>Contact</label>
		<input type="tel" name="num" id="cn" onkeyup="contactvalid()" placeholder="Enter your contact number" required><span id="err2" style="font-family:TimesNewRoman"></span><br><br>
		<label>Symptoms</label>
		<textarea name="symptoms" rows="5" cols="30" id="sym" required></textarea><span id="err3"></span><br><br>
		<input type="submit" value="Register" onclick="valid()">
	</form></center>
	</div>
	<br><br>
<script>
	function valid(){
		var name=document.getElementById("nm").value;
		var ps=document.getElementById("ps").value;
		var cn=document.getElementById("cn").value;
		var sym=document.getElementById("sym").value;
		err=document.getElementById("err");
		err1=document.getElementById("err1");
		err2=document.getElementById("err2");
		err3=document.getElementById("err3");
		if(!name.length==0 && !ps.length==0 && !cn.length==0 && !sym.length==0)
		{
			alert("Registered Successfully!")
		}
		else
		{
			if(name.length==0)
			{
				err.innerHTML="*PLZ enter name";
			        err.style.color="blue";
			}
			else
			{
				err.innerHTML="";
			}
			
			if(ps.length==0)
			{
				err1.innerHTML="*PLZ enter password";
				err1.style.color="blue";
			}
			else
			{
				err1.innerHTML="";
			}
			
			if(cn.length==0)
			{
				err2.innerHTML="*PLZ enter contact number";
				err2.style.color="blue";	
			}
			else
			{
				err2.innerHTML="";	
			}
			
			if(sym.length==0)
			{
				err3.innerHTML="*PLZ enter symptoms";
				err3.style.color="blue";
			}
			else
			{
				err3.innerHTML="";
			}
		}
	}
	function namevalid(){
		var nm,reg;
   	   	reg= /^[a-zA-Z]*$/
   	    	nm=document.getElementById("nm").value;
   	   	err=document.getElementById("err");
   	  	if(!reg.test(nm))
   	    	{
   	       		err.innerHTML="Enter only alphabets";
   	        	err.style.color="blue";
   	    	}
   	    	else
   	    	{
   	        	err.innerHTML="";
   	    	}
	}
	function passvalid(){
		var ps=document.getElementById("ps").value;
		var err1=document.getElementById("err1");
		
		if(ps.length<5||ps.length>8)
            	{
                	err1.innerHTML="Please enter valid password";
                	err1.style.color="blue";
            	}
            	else
            	{
                	err1.innerHTML="";
            	}
	}
	function contactvalid(){
		var cn,reg;
   	   	reg=  /^\d{10}$/
   	    	cn=document.getElementById("cn").value;
   	   	err2=document.getElementById("err2");
   	  	if(!reg.test(cn))
   	    	{
   	       		err2.innerHTML="Invalid contact";
   	        	err2.style.color="blue";
   	    	}
   	    	else
   	    	{
   	        	err2.innerHTML="";
   	    	}
	}
</script>
</body>
</html>
