{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>HMS</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<style> 
body{
	background-image: url({% static 'isc-products-trakcare_02.webp' %});
	background-repeat: no-repeat;
	background-size: 1300px 700px;
}   
</style>
</head>
<body>
	<div class="container-fluid">
  		<h1 style="font-size: 300%; color:red;  text-shadow:2px 2px brown"><b>HOSPITAL MANAGEMENT SYSTEM<h4 style="float:right; color:red; text-shadow:none"><b>Vinitha123@gmail.com<h5><b>Logged in as Admin</b></h5></b></h4></b></h1><br>
  		<br><br>
  		<div class="row">
  		<div class="col-lg-3"><center><a href="admin_add_doctor" class="btn btn-danger"><b style="color:white">Add Doctor</b></a></center></div>
  		<div class="col-lg-3"><center><a href="admin_update_doctor" class="btn btn-danger"><b style="color: white">Update Doctor</b></a></center></div>     
  		<div class="col-lg-3"><center><a href="admin_doctor_record" class="btn btn-danger"><b style="color: white">Doctor record</b></a></center></div>   
  		<div class="col-lg-3"><center><a href="admin_doctor_logout" class="btn btn-danger"><b style="color: white">Logout</b></a></center></div>   
  		</div> 
  		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 		<marquee width="100%" direction="left" height="100px" style="color:red">
<b style="text-shadow:3px 3px white">Welcome to Hospital Management System!</b>
</marquee>
     	</div>  

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>






