<!doctype html>
<html lang="en">
  <head><br>
  <marquee width="100%" direction="left" height="100px" style="color:red">
<b style="text-shadow:2px 2px yellow">Welcome to Hospital Management Contact Page!</b>
</marquee>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>HMS</title>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
      
</head>
<body style="background-image: linear-gradient(Indigo,plum,plum,plum)">
	<div class="container-fluid">
  		<center><h1 class="text-danger" style="font-size: 300%; color:black"><b>Contact Us</b></h1></center><br>
  		<center><form action="" style="background-color:pink; border-radius:30px; color:black; border-spacing:40px; width: 380px; font-size:20px; padding: 10px;">
  		<div class="jumbotron-fluid" style="margin-bottom: 0px;margin-top: 0px;">
  		<center><h3 class="glyphicon glyphicon-phone-alt" style="color:Midnightblue">Phone:<h4>78907 65345</h4></h3><br>
  		<h3 class="glyphicon glyphicon-envelope" style="color:Midnightblue">Mail-ID:<h4 style="color:blue">vinitha123@gmail.com</h4></h3><br>
  		<h3 class="glyphicon glyphicon-home" style="color:Midnightblue">Address:<h4>Chennai, TamilNadu</h4></h3></center>
  		</div></form></center><br><br>
  		<h4 style="color:black">©copyright2022|All rights reserved</h4>
     	</div>  

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>

