<html>
<head>
<style type="text/CSS">
*{
	font-family: serif;
	
}
label{
    width: 100px;
    display: inline-block;
    margin-right: 10%;
    float: left;    
}
#form {
    border-radius: 30px;
    color: black;
    border-spacing:40px;
    width: 380px; 
    font-size:20px;
    padding: 10px;
} 
body{
  background-image: linear-gradient(to left,plum,Tomato,Salmon,Tomato,plum);
}
input{
	padding: 4px;
}
</style>
</head>
<body>
<center><h1>Change Password</h1><br><br>
<div id="form">
	<form action="doctor_change_password" method="POST">{% csrf_token %}
		<label>UserName</label>
		<input type="email" name="Email" id="el" onkeyup="emailvalid()" placeholder="Enter your registered Username" required><span id="err" style="font-family:TimesNewRoman"></span><br><br>
		<label>New Password</label>
		<input type="password" name="pass" id="ps" onkeyup="passvalid()" placeholder="Enter new password" required><span id="err1" style="font-family:TimesNewRoman"></span><br><br>
		<input type="submit" value="Save" onclick="valid()"></td>
	</form></center></div>
</center>
<script>
	function valid(){
		var email=document.getElementById("el").value;
		var ps=document.getElementById("ps").value;
		err=document.getElementById("err");
		err1=document.getElementById("err1");
		if(!email.length==0 && !ps.length==0)
		{
			alert("Password changed successfully");
		}		
		else
		{
			if(email.length==0)
			{
				err.innerHTML="*PLZ enter email";
			        err.style.color="blue";
			}
			else
			{
				err.innerHTML="";
			}
			
			if(ps.length==0)
			{
				err1.innerHTML="*PLZ enter password";
				err1.style.color="blue";
			}
			else
			{
				err1.innerHTML="";
			}
		}
	}
	function emailvalid(){
		var email,reg;
   	   	reg= /^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,3})$/;
   	    	email=document.getElementById("el").value;
   	   	err=document.getElementById("err");
   	  	if(!reg.test(email))
   	    	{
   	       		err.innerHTML="Invalid EmailId!";
   	        	err.style.color="blue";
   	    	}
   	    	else
   	    	{
   	        	err.innerHTML="";
   	    	}
	}
	function passvalid(){
		var ps=document.getElementById("ps").value;
		var err1=document.getElementById("err1");
		
		if(ps.length<5||ps.length>8)
            	{
                	err1.innerHTML="Pls enter correct password";
                	err1.style.color="blue";
            	}
            	else
            	{
                	err1.innerHTML="";
            	}
	}
</script>
</body>
</html>
