{% load static %}
<html>
<head>
<title>HMS</title>
<style>
body{
background-image: linear-gradient(lightcyan,skyblue,lightcyan);
}
li{
color:midnightblue;
text-align: justify;
}
p{
color: midnightblue;
text-align: justify;
}
</style>
</head>
<body>
<center><h2 style="text-shadow:tomato; color:crimson;">What you can do to maintain your health?</h2></center>
<p><b>A lot of factors play a role in staying healthy. In turn, good health can decrease your risk of developing certain conditions. These include heart disease, stroke, some cancers, and injuries. Learn what you can do to maintain your and your family’s health.</b></p><br>
<center><img src="{% static 'index.jpeg' %}"></center>
<h2 style="text-shadow:tomato; color:crimson;">Path to improved health</h2>
    
    <ul>
    <b><li>Eat healthy. What you eat is closely linked to your health.</li><br>
    <li>Get regular exercise.</li><br>
    <li>Lose weight if you're overweight.</li><br>
    <li>Protect your skin.</li><br>
    <li>Don't smoke.</li><br>
    <li>Limit how much alcohol you drink.</li><br>
    <li>Questions to ask your doctor.</li><br></b>
    </ul>
    
    
</body>
</html>
